/* fonts */
@font-face{
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono Regular'),
         url('/font/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono Italic'),
         url('/font/JetBrainsMono-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face{
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono Bold'),
         url('/font/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono Bold Italic'),
         url('/font/JetBrainsMono-Bold-Italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

html {
    line-height: 1.8;

    --text-color: #111;
    --link-color: #4788f2;
    --link-hover-color: #105edd;
    --secondary-text-color: #666;
    --secondary-background-color: #f7f7f9;
    --code-color: #d14;
}

@media screen and (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
        --text-color: #eee;
        --link-color: #6097ee;
        --link-hover-color: #5594f9;
        --secondary-text-color: #666;
        --secondary-background-color: #222;
        --code-color: rgb(238, 64, 107);
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: 0 6px 10px 8px;
}

nav {
    height: 20px;
    display: block;
    margin: 20px 0 20px 0;
}

nav ul {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
}

nav a, nav a:hover {
    border-bottom: none;
    font-weight: bold;
}

nav .home {
    float: left;
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
    text-decoration: none;
    border-bottom: none;
}

nav .social li {
    float: right;
    font-size: 100%;
    margin: 0px 12px;
}

nav ul.social svg {
    color: inherit;
    overflow: visible;
    width: .875em;
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

h1, h2, h3, h4 {
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 130%;
    margin: 2em 0 0.75em;
}

h1 {
    font-size: 45px;
}

.home h1 {
    margin: 45px 0 20px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

.home h3 {
    margin: 5px 0px;
}

p {
    margin: 1em 0;
}

.home p {
    margin-top: 0px;
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: all 0.15s ease-in;
    border-bottom: 1px solid transparent;
}

a:hover, a:focus {
    color: var(--link-hover-color);
    text-decoration: none;
    border-bottom: 1px solid var(--link-hover-color);
}

ul, ol {
    padding: 0;
    margin: 20px 0 20px 25px;
}

ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0;
}

li {
    margin: 0px 0px 10px 0px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

section.is-imageBackgrounded img {
    max-width: 100%;
    max-height: 250px;
}

.time {
    font-size: 0.9rem;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
    display: block;
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
    font-weight: bold;
}

.home .time {
    margin-bottom: 5px;
}

article {
    margin-bottom: 60px;
}
.home article {
    margin-bottom: 30px;
}

figure {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 100%;
    max-height: auto;
    display: block;
    /* margin-bottom: 40px; */
}

figcaption {
    font-size: 75%;
}

code, pre {
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
    color: var(--text-color);
    background-color: var(--secondary-background-color);
}

code {
    padding: 2px 8px;
    margin: auto 4px;
    color: var(--code-color);
    border-radius: 2px;
}

pre {
    font-size: 14px;
    display: block;
    padding: 0 15px;
    margin: auto 10px auto 0px;
    line-height: 120%;
    white-space: pre;
    white-space: pre-wrap;
    border-radius: 8px;
}

pre code {
    padding: 0;
    color: inherit;
}

footer {
    position: relative;
    margin: 150px 0px 0px 0px;
    display: block;
    text-align: left;
    font-size: 0.8rem;
    color: var(--secondary-text-color);
}

footer a, footer a:hover, footer a:focus {
    border-bottom: none;
}

.pull-right {
    float: right;
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 1.75em;
    }
 
    h2 {
        font-size: 1.5em;
    }
 
    h3 {
        font-size: 1.25em;
    }

    h4 {
        font-size: 1.0em;
    }

    h5 {
        font-size: .75em;
    }

    h6 {
        font-size: .5em;
    }
}

.showcase-container {
    overflow-x: hidden;
}

section.showcase {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-weight: bold;
    margin: auto -30px;
}

.showcase-item {
    flex: 0 0 auto;
    width: 150px;
    margin: 0 30px;
}

@media screen and (max-width: 660px) {
    section.showcase {
        margin: auto -10px;        
    }

    .showcase-item {
        width: 100px;
        margin: 0 10px;
    }
}


@media screen and (max-width: 425px) {
    section.showcase {
        margin: auto -8px;        
    }

    .showcase-item {
        width: 70px;
        margin: 0 8px;
        font-size: 0.9em;
    }
}

.showcase .tagline {
    font-weight: normal;
    font-size: 0.85em;
    margin: auto -10px;
}

.showcase a, .showcase a:hover {
    border: none;
}

figure.ios img, img.ios {
    border-radius: 22.5%;
}

.showcase img {
    width: 100%;
}
