/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Typography @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@font-face{
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono Regular'),
         url('/font/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono Italic'),
         url('/font/JetBrainsMono-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face{
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono Bold'),
         url('/font/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono Bold Italic'),
         url('/font/JetBrainsMono-Bold-Italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.8;
}

/* Typography - headers */

h1, h2, h3, h4 {
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
    font-weight: bold;
}

h1 {
    font-size: 45px;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 25px;
}
h4 {
    font-size: 20px;
}

@media (max-width: 500px) {
    h1 {
        font-size: 1.75rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    h4 {
        font-size: 1.0rem;
    }
}

/* Typography - code */

code {
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
    font-size: 0.88rem;
    font-weight: 600;
}

pre {
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
    font-size: 0.88rem;
    font-weight: 400;
}

pre>code {
    font-weight: 500;
}

@media (max-width: 450px) {
    code {
        font-size: 0.77rem;
    }
}

/* Typography - misc */

.time {
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
    font-size: 0.88rem;
    font-weight: 600;
}

figcaption {
    font-size: 0.75rem;
}

footer {
    font-size: 0.8rem;
}

@media (max-width: 450px) {
    .showcase-item {
        font-size: 0.9em;
    }
}

.showcase .tagline {
    font-weight: 400;
    font-size: 0.85em;
}

nav a, nav a:hover {
    font-weight: bold;
}

section.showcase {
    font-weight: bold;
}

nav {
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
}





/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Colors @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

html {
    --text-color: #111;
    --link-color: #4788f2;
    --link-hover-color: #105edd;
    --secondary-text-color: #666;
    --secondary-background-color: #f7f7f9;
    --code-color: rgb(196, 15, 60);
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
        --text-color: #eee;
        --link-color: #6097ee;
        --link-hover-color: #5594f9;
        --secondary-text-color: #666;
        --secondary-background-color: #222;
        --code-color: rgb(238, 64, 107);
    }
}

html {
    color: var(--text-color);
}

code {
    color: var(--code-color);
    background-color: var(--secondary-background-color);
}

pre {
    color: var(--text-color);
    background-color: var(--secondary-background-color);
}

pre>code {
    color: inherit;
}

.time {
    color: var(--secondary-text-color);
}

footer {
    color: var(--secondary-text-color);
}

nav ul.social svg {
    color: inherit;
}

a {
    color: var(--link-color);
}

a:hover, a:focus {
    color: var(--link-hover-color);
}





/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Styling @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

a {
    text-decoration: none;
    transition: all 0.15s ease-in;
    border-bottom: 1px solid transparent;
}

a:hover, a:focus {
    text-decoration: none;
    border-bottom: 1px solid var(--link-hover-color);
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

*:not(pre)>code {
    padding: 2px 4px;
    border-radius: 2px;
}

pre {
    border-radius: 8px;
    padding: 15px 15px 15px 15px;
    margin: 0 15px 0 0;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Layout - general @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

body {
    
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* max-width: 1vf; */
}

.container {
    /* position: relative; */
    margin: auto;
    /* display: ; */
    max-width: 800px;
    padding: 0 6px 0px 8px;
}



h1, h2, h3, h4 {
    line-height: 130%;
    margin: 2em 0 0.75em;
}


.home h1 {
    margin: 45px 0 20px;
}


.home h3 {
    margin: 5px 0px;
}

p {
    margin: 1em 0;
}

.home p {
    margin-top: 0px;
}


ul, ol {
    padding: 0;
    margin: 20px 0 20px 25px;
}

ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0;
}

li {
    margin: 0px 0px 10px 0px;
}





/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Layout - nav @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

nav {
    height: 20px;
    display: block;
    margin: 20px 0 20px 0;
}

nav ul {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
}

nav a, nav a:hover {
    border-bottom: none;
}

nav .home {
    float: left;
    text-decoration: none;
    border-bottom: none;
}

nav .social li {
    float: right;
    margin: 0px 12px;
}

nav ul.social svg {
    overflow: visible;
    width: .875em;
    display: inline-block;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

section.is-imageBackgrounded {
    padding-top: 15px;
}

section.is-imageBackgrounded img {
    max-width: 100%;
    max-height: 250px;
}

section.is-imageBackgrounded + h1 {
    margin-top: 30px;
}

.time {
    margin-bottom: 20px;
    display: block;
}

.home .time {
    margin-bottom: 5px;
}

article {
    margin-bottom: 60px;
}
.home article {
    margin-bottom: 30px;
}

figure {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 100%;
    max-height: auto;
    display: block;
    /* margin-bottom: 40px; */
}

/* footer */

main {
    min-height: calc(100dvh - 240px);
}

footer {
    margin: 150px 0px -30px 0px;
}

footer a, footer a:hover, footer a:focus {
    border-bottom: none;
}

.pull-right {
    float: right;
}

footer hr {
    margin-bottom: 20px;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Layout - code @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


pre {
    overflow-x: auto;
}

code {
    overflow-wrap: break-word;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Layout - showcase @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


.showcase-container {
    overflow-x: hidden;
}

section.showcase + section.showcase {
    padding-top: 10px;
}

section.showcase {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: auto -30px;
    /* line-height: 120%; */
}

.showcase div.tagline {
    line-height: 1.5;
}

.showcase-item {
    flex: 0 0 auto;
    width: 150px;
    margin: 0 30px;
}

@media (max-width: 660px) {
    section.showcase {
        margin: auto -10px;        
    }

    .showcase-item {
        width: 100px;
        margin: 0 10px;
    }
}


@media (max-width: 425px) {
    section.showcase {
        margin: auto -8px;        
    }

    .showcase-item {
        width: 70px;
        margin: 0 8px;
    }
}

.showcase .tagline {
    margin: auto -10px;
}

.showcase a, .showcase a:hover {
    border: none;
}

figure.ios img, img.ios {
    border-radius: 22.5%;
}

.showcase img {
    width: 100%;
}

img.macos {
    transform: translateY(8%);
}
