<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="{{ if eq .Section "post" }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
	<link rel="canonical" href="{{ .Permalink }}" />
	<link rel="alternate" type="application/rss+xml" title="nikstar/blog" href="{{ with .Site.GetPage "/" }}{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}{{ end }}" />
	{{ if eq .Section "post" }}
	<title>{{ .Title }} &ndash; nikstar/blog </title>
	<meta property="og:site_name" content="nikstar/blog" />
	{{ else }}
	<title>nikstar/home</title>
	<meta property="og:site_name" content="nikstar/home" />
	{{ end }}
	{{ if eq .Section "post" }}
	{{ "<!-- Trick Telegram crawler into believing this is a Medium article -->" | safeHTML }}
	<meta property="al:android:app_name" content="Medium" />
	<meta property="article:published_time" content="{{ .PublishDate.Format "2006-01-02T15:04:05-0700" }}" />
	{{ end }}
	<meta property="og:description" content="{{ if eq .Section "post" }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}"/>
	{{ if isset .Params "cover" }}
	<meta property="og:image" content="{{ .Params.cover }}"/>
	{{ else }}
	{{ end }}
	<meta name="author" content="Nikita Starshinov" />
	<link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<div class="container">
