 <header>
	<nav>
		<ul class="main">
			<li><a href="/">{{ .Site.Title }}</a></li>
		</ul>
		<ul class="social">
			<li>
				<a class="fas fa-rss" href="{{ with .Site.GetPage "/" }}{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}{{ end }}" target="_blank"></a>
			</li>
			<li>
				<a class="fab fa-github" href="https://github.com/nikstar" target="_blank"></a>
			</li>
			<li>
				<a class="fab fa-telegram-plane" href="https://t.me/nikstar" target="_blank"></a>
			</li>
		</ul>
	</nav>
</header>
