{{ partial "header.html" . }}

<main class="home">

    {{ partial "navbar.html" . }}

    <h1>My Apps</h1>

    <section class="demo-items">
        <div class="demo-item">
            <a href="/thirty-seconds">
                <img class="ios demo" src="/img/thirty-seconds-icon.png" alt="Stickers icon" />
                <div>30 Seconds</div>
                <div class="tagline">One-time passwords</div>
            </a>
        </div>
        <div class="demo-item">
            <a href="/stickers">
                <img class="ios demo" src="/img/stickers-icon.png" alt="Stickers icon" />
                <div>Stickers</div>
                <div class="tagline">Create Telegram stickers</div>
            </a>
        </div>
        <div class="demo-item">
            <a href="/greader">
                <img class="demo" src="/img/greader-icon.png" alt="Stickers icon" />
                <div>G Reader</div>
                <div class="tagline">RSS bot for Telegram</div>
            </a>
        </div>
    </section>
        

    <h1>Blog</h1>

    
    <!-- <h2>Featured</h2>
    {{ range .Site.Pages.ByDate.Reverse }}
    {{ if .Params.featured }}
    <article>
        <h3><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h3>
        <p>{{ .Description }}</p>
    </article>
    {{ end }}
    {{ end }}

    <hr/> -->

    {{ range .Site.Pages.ByDate.Reverse }}
    {{ if isset .Params "date" }}
    <article>
        <h3><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h3>
        <div class="time">{{ .Date.Format "Monday, January 2, 2006" }}</div>
        <p>{{ .Summary }}</p>
    </article>
    {{ end }}
    {{ end }}
</main>

{{ partial "footer.html" . }}
